.addTrainerForm {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(187, 187, 187, 0.733);
}

.addTrainerForm > div {
    width:90%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:4%;
}

.addTrainerForm h2 {
    flex : 3;
}
.addTrainerForm input, .addTrainerForm textarea {
    flex: 7;
    min-height:25px;
}

.addTrainerForm textarea {
    height: 50px;
}

.addTrainerForm button {
    height: fit-content;
    width: fit-content;
    font-size: 18px;
    border-radius: 1px;
    border:none;
    box-shadow: 2px 2px 2px black;
    background: gray;
    color: rgba(231, 231, 231, 0.904);
    text-shadow: 2px 2px 2px black;
}

.addTrainerForm button:nth-child(2) {
    background: rgba(85, 202, 85, 0.589);
}